MAX_ALLOWED_REPLICATION_LAG_SECONDS=<%= @max_allowed_replication_lag_seconds %>
MIN_SECONDS_SINCE_LAST_SUCCESSFUL_BACKUP=<%= @min_seconds_since_last_successful_backup %>
REDIS_CLI=<%= @redis_cli %>
REDIS_CONF=<%= @redis_conf %>
<% if @skip_credential_fetch %>
SKIP_CREDENTIAL_FETCH=true
<% end %>
